{% extends 'base.html' %}

{% block content %}

<!--Right Side of View Port-->
    <div class="col-md-4 border-left">
      <div class="container-fluid">
        <div class="row ">
          <!--Favorites Display-->
          <div class="col-12 justify-content-end">
            <div class="row white-text">
              <h1>Favorites</h1>
            </div>
            <hr>
            <!-- Favorited items -->
            <ul class="list-group">
              {% for favorite in favorites %}
                <li class="list-group-item d-flex justify-content-between align-items-center border-change rounded-pill row">
                  <div class="col-md-8">
                    <span> {{favorite.sentence}} </span>
                  </div>
                  <div class="col-md-4 justify-content-end">
                    <button class="up-vote btn btn-light">&#9650; {{favorite.upvotes}}</button>
                    <button class="down-vote btn btn-light">&#9660; {{favorite.downvotes}}</button>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
