{% extends 'base.html' %}


{% block content %}

<div>
  <h1 class="text-center">Wise Words from Chance the Rapper</h1>
  <br>
  <br>
  <br>

  <h4 class="text-center" id="sentence"> {{ sentence }}</h4>
  <br>
  <br>
  <br>

  <form action='/' class="row justify-content-center">
    <div class="col-xs-3 p-2">
      <button type="submit" name="generate" class="btn btn-primary">Generate!</button>
    </div>
    <div class="col-xs-3 p-2">
       <button type="submit" name="favorite" class="btn btn-warning">Favorite</button>
    </div>
      <div class="col-xs-4 form-inline p-2">
      <label for="sentence">Sentence Length: </label>
      <input type="number" name="sentence length"class="form-control" id="sentence" placeholder="10">
      </div>
  </form>


  <div class="container-fluid">
    <div class="row ">
      <div class="justify-content-end">
        <div class="row white-text">
          <h1>Favorites</h1>
        </div>
        <hr>
        <ul class="list-group">
            <!-- {% for favorite in favorited %} -->
            <div>
              <ul>
                <li>
                  {{ favorite.sentence }}
                </li>
              </ul>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>



{% endblock %}
